body
{
    margin: 0;
    /* overflow: hidden; */
}
.topnav
{
    display: flex;
    justify-content: right;
    padding: 20px;
}
.navitem
{
    flex-wrap: wrap;
    font-size: 19px;
    text-decoration: none;
    padding: 20px;
}
a
{
    text-decoration: none;
}
header{
    display: flex;
}
.descriptionHolder
{
    background-color: #B9F3E4;
    padding:10px;
    margin-right: 10px;
    border-radius: 5px;
}
.profilePicture
{
    border-radius: 15px;
    align-items: center;
}
#contactme
{
    display: flex;
    justify-content:left;
}
.contact
{
    padding: 5px;
    margin-left: 20px;
}
.linkdin, .mail
{
    padding: 0;
    border: 2px solid black;
    border-radius: 5px;
}
.mydescription
{
    margin-left: 20px;
}
hr
{
    border: 0;
    border-top: 5px dotted #8c8c8c;
    width: 30%;
}
main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main div
{
    background-color: #ffc8dd;
    height: 25em;
    width: 20em;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    color: #219ebc;
}
.expand-item
{
    margin: 15px;
    padding: 5px;
}
.remove-underline
{
    text-decoration: none;
}
.main-edu
{
    display: flex;
    margin: 40px;
}
.ten-th , .twelve_th, .college-edu
{
    padding: 20px;
    background-color: #cdb4db;
    margin: 20px;
    border-radius: 10px;
}
.contact-container
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#linkdin-logo
{
    margin: 10px;
}
#mail-logo
{
    margin: 10px;
}
.about-main
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.right
{
    text-align: left;
}
.right , .left
{
    background-color: #B9F3E4;
    margin: 20px;
    padding: 15px;
    border-radius: 5px;
}
.about-picture
{
    margin: 30px;
}
.about-dp
{
    border-radius: 250px;
}